@charset "utf-8";

html {
	font-size:100%;
}
body {
	font:normal 12px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#666666;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
img {border:none;}
ul, ol {
	list-style:none;
}
a:link, a:visited {
	color: #666666;
	text-decoration:none;
}
a:hover {
	color: #666666;
	text-decoration:none;
}

@font-face {
	font-family: "LovinSansWeb-Black";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/black/LovinSansWeb-Black.eot?#iefix")
	format("embedded-opentype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/black/LovinSansWeb-Black.woff")format("woff"), 
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/black/LovinSansWeb-Black.ttf") format("truetype"), 
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/black/LovinSansWeb-Black.svg#LovinSansWeb-Black") format("svg");
}
@font-face {
	font-family: "LovinSansWeb-Bold";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/bold/LovinSansWeb-Bold.eot?#iefix") format("embedded-opentype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/bold/LovinSansWeb-Bold.woff") format("woff"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/bold/LovinSansWeb-Bold.ttf") format("truetype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/bold/LovinSansWeb-Bold.svg#LovinSansWeb-Bold") format("svg");
}
@font-face {
	font-family: "LovinSansWeb-Medium";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/medium/LovinSansWeb-Medium.eot?#iefix") format("embedded-opentype"), 
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/medium/LovinSansWeb-Medium.woff") format("woff"), 
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/medium/LovinSansWeb-Medium.ttf") format("truetype"), 
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/medium/LovinSansWeb-Medium.svg#LovinSansWeb-Medium") format("svg");
}
@font-face {
	font-family: "LovinSansWeb-Regular";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/regular/LovinSansWeb-Regular.eot?#iefix") format("embedded-opentype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/regular/LovinSansWeb-Regular.woff") format("woff"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/regular/LovinSansWeb-Regular.ttf") format("truetype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/LovinSansWeb/regular/LovinSansWeb-Regular.svg#LovinSansWeb-Regular") format("svg"); 
}
@font-face {
	font-family: "flexslider-icon";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-rwd-global/css/fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-rwd-global/css/fonts/flexslider-icon.woff") format("woff"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-rwd-global/css/fonts/flexslider-icon.ttf") format("truetype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-rwd-global/css/fonts/flexslider-icon.svg#flexslider-icon") format("svg");
} /* 화살표 */
@font-face {
	font-family: "pwe_icon";
	font-style: normal;
	font-weight: normal;
	src: url("https://embed3.postano.com/prod/fonts/icons/pwe_icons.eot?#iefix") format("embedded-opentype"),
	url("https://embed3.postano.com/prod/fonts/icons/pwe_icons.woff") format("woff"),
	url("https://embed3.postano.com/prod/fonts/icons/pwe_icons.ttf") format("truetype"),
	url("https://embed3.postano.com/prod/fonts/icons/pwe_icons.svg#pwe_icon") format("svg");
} /* 트위터 */
@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/fontawesome-webfont.woff2") format("woff2"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"),
	url("http://corporate.mcdonalds.com/etc/clientlibs/mcd-us/css/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg"); 
} /* 물음표 */

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

main > .b_banner {width: 100%; height: 682px; background: url(../images/bg_drk.jpg);}
main > .b_banner .bx-wrapper {border: none; box-shadow: none; background: none;}
main > .b_banner > h3 {
	color: #fff;
	font-size: 45px;
	font-family: "LovinSansWeb-Bold";
	line-height: 45px;
	padding: 67px 0 53px;
	text-align: center;
}
main > .b_banner > .b_inner {overflow: hidden; position: relative;}
main > .b_banner > .b_inner ul {width: 100%;}
main > .b_banner > .b_inner ul > li {display: block; width: 33.333333%; float: left;}
main > .b_banner > .b_inner ul > li a {
	display: block;
	margin: 0 9px;
	background-color: #222;
	height: 30vw;
	max-height: 400px;
	overflow: hidden;
	position: relative;
}
main > .b_banner > .b_inner ul > li a > img {
	height: 100%;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}
main > .b_banner .f_top {height: 55px; padding: 10px; position: absolute; left: 0; right: 0; top: 0; box-sizing: border-box; overflow: hidden;}
main > .b_banner .f_top img {max-width: 34px; max-height: 34px; border-radius: 17px; float: left;}
main > .b_banner .f_top img:hover {opacity: 0.7;}
main > .b_banner .f_top > .t_left {float: left; margin-left: 7px;}
main > .b_banner .f_top > .t_left strong, 
main > .b_banner .f_top > .t_left span,
main > .b_banner .f_top > .t_right strong {font-family: "LovinSansWeb-Medium"; color: #fff;}
main > .b_banner .f_top > .t_left strong {font-size: 17px; display: block;}
main > .b_banner .f_top > .t_left strong:hover {opacity: 0.7;}
main > .b_banner .f_top > .t_left span {font-size: 13px; display: block;}
main > .b_banner .f_top > .t_left span:hover {opacity: 0.7;}
main > .b_banner .f_top > .t_right{float: right; margin-top: 10px;}
main > .b_banner .f_top > .t_right strong {font-size: 11px; margin-right: 7px; line-height: 19px;}
main > .b_banner .f_top > .t_right strong:hover {opacity: 0.7;}
main > .b_banner .f_top > .t_right span:before {
	content: '\e001';
	font-family: "pwe_icon";
	line-height: 1;
	font-size: 17px;
	color: #fff;
	vertical-align: top;
}
main > .b_banner .f_top > .t_right span:hover:before {opacity: 0.7;}
main > .b_banner .f_bottom {background-color: #1e1d1b; opacity: 0.85; position: absolute; left: 0; right: 0; bottom: 0; height: 118px;}
main > .b_banner .f_bottom p {font-size: 15px; color: #fff; padding: 10px 15px;}
main > .b_banner .f_bottom .twit {border-top: solid 1px #555; position: absolute; left: 0; right: 0; bottom: 0;}
main > .b_banner .f_bottom .twit:before {
	content: '\e001';
	font-family: "pwe_icon";
	color: #fff;
	padding: 0 15px;
	height: 26px;
	line-height: 23px;
	font-size: 11px;
}
main > .b_banner .f_bottom .twit:hover:before {opacity: 0.7;}
main > .b_banner > .b_inner .b_page {text-align: center; font-size: 0; margin-top: 15px;}
main > .b_banner > .b_inner .b_page .bx-pager-item {display: inline-block;}
main > .b_banner > .b_inner .b_page a {
	text-indent: -9999px;
	font-size: 15px;
	display: inline-block;
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	vertical-align: top;
}
main > .b_banner > .b_inner .b_page a {background-color: #262624; opacity: 0.5}
main > .b_banner > .b_inner .b_page a:hover {opacity: 1;}
main > .b_banner > .b_inner .b_page a.active {opacity: 1;}
main > .b_banner > .b_inner .b_page a.aside {opacity: 0.7;}
main > .b_banner > .b_inner .b_page a:hover {opacity: 1;}
main > .b_banner > .b_inner .b_page div + div {margin-left: 4px;}
main > .b_banner > .b_inner .b_control {overflow: hidden;}
main > .b_banner > .b_inner .b_control div {
	display: block;
	background: rgba(0, 0, 0, 0.55);
	font-size: 0;
	opacity: 1;
	width: 37.5px;
	height: 37.5px;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-ms-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	overflow: hidden;
}
main > .b_banner > .b_inner .b_control div.prev {left: -100px;}
main > .b_banner > .b_inner:hover .b_control div.prev {left: 0; padding-left: 10px;}
main > .b_banner > .b_inner .b_control div.next {right: -100px;}
main > .b_banner > .b_inner:hover .b_control div.next {right: 0; padding-right: 10px;}
main > .b_banner > .b_inner .b_control div a:before {
	font-family: "pwe_icon";
	color: #c8c8c8;
	content: '\e603';
	font-size: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
main > .b_banner > .b_inner .b_control div.next a {display: block; widows: 100%; height: 100%;}
main > .b_banner > .b_inner .b_control div.prev a:before {content: '\e603';}
main > .b_banner > .b_inner .b_control div.next a:before {content: '\e606';}

@media screen and (max-width: 520px) {
	main > .b_banner > .b_inner ul > li {width: 100%;}
	main > .b_banner > h3 {font-size: 34.375px; line-height: 34.375px;}	
}
@media screen and (max-width: 678px) {
	main > .b_banner > .b_inner ul > li {width: 50%;}
}
@media screen and (max-width: 767px) {
	main > .b_banner > .b_inner ul > li a {height: 400px;}
}
@media screen and (min-width: 768px) and (max-width: 990px) {
	main > .b_banner > .b_inner ul > li a {height: 400px;}
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
	main > .b_banner > .b_inner ul > li a {height: 400px;}
}