.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

/* 공통 */

nav h2,
.visual h3,
.info h3 {height: 0; visibility: hidden;}
.home {
	display: inline-block;
	position: absolute;
	right: 40px;
	bottom: 160px;
	width: 21px;
	height: 30px;
	background: url('../images/ico_corp.png') no-repeat -90px -10px;
	text-indent: -9999px;
}
.home.sub_page {bottom: 520px;}