@charset "utf-8";

body {
	font:normal 10px "애플고딕", AppleGothic, "돋움", dotum, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:#3d3a35;;
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
a {text-decoration:none; color: #474543;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: "Crete Round";
  src: local("Crete Round Italic"), local("CreteRound-Italic"), 
  url("../fonts/55xqey1sJNPjPiv1ZZZrxK1-4b_oLg.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Global Icons";
  src: url("../fonts/starbucks_icons_global.eot#iefix") format("embedded-opentype"), 
  url("../fonts/starbucks_icons_global.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"), 
  url("../fonts/S6uyw4BMUTPHjx4wXg.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"), 
  url("../fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "NoSpace";
  src: url("https://www.starbucks.com/static/fonts/zerowidthspaces.eot?#iefix") format("embedded-opentype"), 
  url("https://www.starbucks.com/static/fonts/zerowidthspaces.woff") format("woff"), 
  url("https://www.starbucks.com/static/fonts/zerowidthspaces.ttf") format("truetype"), 
  url("https://www.starbucks.com/static/fonts/zerowidthspaces.svg#NoSpace") format("svg");
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* wrap */

.wrap {font-family: Lato,Helvetica,Arial,sans-serif; width: 100%;}

/* 공통 */

.contents {padding: 0 20px; box-sizing: border-box; width: 100%; max-width: 1360px; margin: 0 auto;}
.column {padding: 0 20px; box-sizing: border-box; text-align: left; font-family: "NoSpace";}
nav li > .nav_in * {font-size: 13px; color: #fff;}
main > section {position: relative;}
.contents .btn a {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: 1.35px;
  font-family: "Lato";
  font-weight: bold;
}

/* header */

header > .h_bar {min-height: 10px; background-color: #006341;}
header > .h_inner {background-color: #f7f7f7; padding-top: 20px; position: relative;}
header > .h_inner:after {
  content: '';
  visibility: visible;
  height: 3px;
  width: 100%;
  background: rgba(0,0,0,0.05);
}
.h_inner h1 {float: left;}
.h_inner h1 > a {
  background-image: url(../images/logo.svg);
  display: block;
  width: 62px;
  height: 62px;
  margin-bottom: 12px;
  background-size: contain;
  position: relative;
  top: -2px;
}
.h_inner h1 span {display: block; text-indent: -9999px;}
.h_util > ul {line-height: 1; text-align: right; font-size: 0;}
.h_util li {display: inline-block; font-size: 14px;}
.h_util li > a {color: #5b5959; font-weight: normal; padding: 0 13px; font-family: "Lato";}
.h_util li > a:hover {opacity: 0.7;}
.h_util .store .icon {font-style: normal; display: inline-block;}
.h_util .store .icon:before {
  font-family: 'Global Icons';
  content: attr(data-icon);
  display: inline-block;
  font-size: 20px;
  color: #006341;
  padding-right: 8px;
}
.h_util li:last-child {border-left: 1px solid #666;}
.h_inner nav {margin:12px 0 0 26px; float: left;}
nav > .pc_nav {display: block;}
nav > .mo_nav {display: none;}
nav > .pc_nav > li {font-family: "Lato"; font-weight: 400; margin-right: 1px; float: left;}
nav li > .tab {
  display: inline-block;
  border-bottom: 3px solid #f7f7f7;
  color: #242221;
  padding: 14px;
  line-height: 1;
  box-sizing: border-box;
}
nav li.open > .tab {border-bottom-color: #1e1e1e; background-color: #1e1e1e;}
nav li > .tab > strong {text-transform: uppercase; font-size: 14px; line-height: 15.9167px; letter-spacing: 2.51667px; font-weight: 400; line-height: 1;}
nav li.open > .tab > strong {color: #f7f7f7;}
nav li > .nav_in {
  width: 100%;
  visibility: hidden;
  max-height: 0;
  -ms-transition: max-height 250ms cubic-bezier(.42,0,.58,1);
  -moz-transition: max-height 250ms cubic-bezier(.42,0,.58,1);
  -webkit-transition: max-height 250ms cubic-bezier(.42,0,.58,1);
  position: absolute;
  left: 0;
  right: 0;
}
nav li.open > .nav_in {
  visibility: visible;
  max-height: 600px;
  margin-top: -1px;
  background-color: #1e1e1e;
  position: absolute;
  left: 0;
  right: 0;
  top: 97%;
  z-index: 990;
}
nav li > .nav_in > .contents {
  overflow: hidden;
  height: 0;
  -ms-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
}
nav .coffee.open > .nav_in > .contents {height: 515px;}
nav .tea.open > .nav_in > .contents {height: 294px;}
nav .menu.open > .nav_in > .contents {height: 294px;}
nav .house.open > .nav_in > .contents {height: 294px;}
nav .social.open > .nav_in > .contents {height: 524px;}
nav .rewards.open > .nav_in > .contents {height: 256px;}
nav .blog.open > .nav_in > .contents {height: 294px;}
nav .gift.open > .nav_in > .contents {height: 294px;}
nav li > .nav_in .nav_bg {background: url(../images/pattern_stars.png) repeat 0 0; height: 100%;}
.nav_in .nav_bg .nav_desc {background-color: #1e1e1e; width: 80%; float: left; padding: 10px 0 20px; box-sizing: border-box;}
.nav_desc li a:hover {background-color: #2B8815;}
.nav_desc > .nav_left {padding-top: 13px; margin-bottom: 13px; min-height: 109px;}
.nav_left > ul > li {float: left; padding-left: 40px; margin-bottom: 11px; box-sizing: border-box; width: 25%;}
.nav_left > ul > li:nth-child(4n+1) {clear: left;}
.nav_left > ul > li p {font-weight: bold; color: #e6e8e8; margin-bottom: 4px;}
.nav_left li {margin-bottom: 4px;}
.nav_left .nav_in2 > li a {font-size: 13px; color: rgba(255, 255, 255, 0.9);}
.nav_desc > .nav_btm p {
  border-top: 1px solid #5e5f62;
  color: #e6e8e8;
  padding: 12px 4px 0;
  margin: 0 8px 8px 12px;
  font-size: 16px;
  line-height: 18px;
}
.nav_btm ul {margin: 0 8px 0 12px; padding: 0 4px;}
.nav_btm ul > li {float: left; margin: 0 16px 11px 0;}
.nav_btm ul > li a {font-weight: bold; font-size: 13px;}
.nav_bg > .nav_side {width: 20%; padding: 0 20px; box-sizing: border-box; float: left;}
.nav_side > a {display: block; padding: 5px; margin: 20px 0 11px; max-width: 139px;}
.nav_side > a:hover {background-color: #2B8815;}
.nav_bg > .nav_side p {margin-bottom: 6.4px; font-size: 14px;}
.nav_side p > img {max-width: 100%;}
.nav_side p > span {vertical-align: super;}

/* main */

.sec01 > .bg_img {
  background-image: url(../images/sec01.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 560px;
}
main > .sec01 {color: #1c1d1d;}
.sec01 > .contents {
  text-align: right;
  padding-top: 65px;
  padding-bottom: 75px;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
}
.sec01 > .contents .column {position: relative; width: 100%; height: 100%;}
.sec01 > .contents .desc {
  padding: 40px 0;
  position: relative;
  left: 15px;
  top: 50%;
  -ms-transform: translate(0, -50%); 
  -moz-transform: translate(0, -50%); 
  -webkit-transform: translate(0, -50%); 
  max-width: 45%;
  box-sizing: border-box;
}
.sec01 .contents .desc > h2 {font-family: "Crete Round"; font-style: italic; font-size: 38.5px; line-height: 42.4667px;; margin-bottom: 9.6px;}
.sec01 .contents .desc > p {text-align: left; font-size: 16.8px; font-family: "Lato"; line-height: 28.8px;}
.sec01 .contents .desc > p > a {font-weight: bold; border-bottom: 1px dotted; color: #1c1d1d;}
.sec01 .contents .desc > p > a:hover {background-color: rgba(70, 70, 70, 0.1);}
main > .sec02 {background: #0f0f0f; color: #fff;}
.sec02 > .contents {position: relative; padding: 0 0 0 420px; min-height: 200px; font-size: 0;}
.sec02 .bg_img {
  display: inline-block;
  width: 420px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: middle;
}
.sec02 .bg_img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  background-color: #0f0f0f;
}
.sec02 .bg_img > .img_wrap {
  background-image: url(../images/m_reward_bg.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 85px 0 0 30px;
  min-height: 200px;
  max-height: 240px;
  margin-left: 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.sec02 .bg_img > .img_wrap img {width: 220px;}
.sec02 .contents .desc {padding: 25px 40px 25px 15px; font-family: "Lato"; display: inline-block; box-sizing: border-box; vertical-align: middle;}
.sec02 .contents .desc > h2 {font-size: 28px; line-height: 32.6667px; margin-bottom: 14px;}
.sec02 .contents .desc > p {font-size: 16.8px; line-height: 29px;}
.sec02 .contents .btn {padding: 0 24px 30px; box-sizing: border-box; display: inline-block; width: 100%;}
.sec02 .contents .btn a {text-transform: uppercase;}
.sec02 .btn span.btn_left a {margin-right: 10px; background-color: #e3c383; border: 1px solid #e3c383;}
.sec02 .btn span.btn_left a:hover {background-color: #ebd4a8;}
.sec02 .btn span.btn_right a {color: #fff; border: 1px solid #fff;}
.sec02 .btn span.btn_right a:hover {background-color: rgba(255, 255, 255, 0.15);}
.sec03 {background-color: #f9f8f6;}
.sec03 > div {color: #464646;}
.sec03 > div > .contents {padding-top: 70px; padding-bottom: 70px; font-size: 0; text-align: center;}
.sec03 > div > .contents > * {width: 41.66667%; box-sizing: border-box; vertical-align: middle; display: inline-block;}
.sec03 .contents .img_wrap img {max-width: 100%; height: auto; vertical-align: top;}
.sec03 > div > .contents .desc {margin-left: calc(100%*1/12); text-align: left;}
.sec03 > div .desc > h3 {
  word-spacing: 1px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Lato";
  font-weight: 700;
  margin-bottom: 20px;
}
.sec03 > div .desc > .copy {font-size: 17px; font-family: "Crete Round"; font-style: italic;}
.sec03 > div .desc > .copy > p {margin-bottom: 17px; line-height: 29.15px; box-sizing: border-box;}
.sec03 > div .desc > .btn {margin-top: 11px;}
.sec03 > div .desc > .btn > a {padding: 0; font-size: 17px; color: #0f0f0f; border-bottom: 1px dotted; line-height: 29px;}
.sec03 > div .desc > .btn > a:after {content: '\00a0\00BB'; font-size: 17px;}
.sec03 .contents .btn a {
  letter-spacing: 0;
  border-radius: 0;
  -ms-transition: background-color 125ms ease-in-out;
  -moz-transition: background-color 125ms ease-in-out;
  -webkit-transition: background-color 125ms ease-in-out;
}
.sec03 .contents .btn a:hover {background-color: rgba(70, 70, 70, 0.1); border-bottom: 1px solid;}

/* footer */

footer {color: #382f2d; background-color: #f7f7f7; min-height: 190px; border-bottom: 8px solid #382F2D; line-height: 15.2667px;}
footer > .f_top {padding-top: 35px; background-color: #f0f0f0; border-bottom: 3px solid #fff; border-top: 3px solid #fff;}
.f_top .ft_in {font-size: 0;}
.f_top .ft_in > * {box-sizing: border-box; display: inline-block; vertical-align: top; font-size: 0;}
.f_top .ft_in > .sns {margin-bottom: 35px; width: calc(100%*4/12 - .01px);}
.f_top .ft_in > .sns > li {float: left; width: 55px; height: 31px; margin-bottom: 7px;}
.sns > li > a {
  display: block;
  height: 31px;
  background-image: url(../images/social_icons.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.f_top .ft_in > .sns > li.fb {width: 47px;}
.sns > li > a:hover {opacity: 0.7;}
.sns > li.fb > a {width: 25px; background-position: 0 0;}
.sns > li.twit > a {width: 29px; background-position: -26px 0}
.sns > li.google > a {width: 26px; background-position: -56px 0}
.sns > li.pinter > a {width: 29px; background-position: -83px 0}
.sns > li.insta > a {width: 28px; background-position: -112px 0}
.sns > li span {position: absolute; width: 1px; height: 1px; overflow: hidden; margin: -1px;}
.f_top .ft_in > .service {width: calc(100%*8/12 - .01px);}
.ft_in > .service > span {
  display: block;
  padding: 7px 0;
  box-sizing: border-box;
  color: #3d3935;
  font-size: 14px;
  font-family: "Lato";
}
.ft_in > .service > ul {font-size: 0;}
.ft_in > .service > ul > li {margin-bottom: 7px; margin-right: 12px; float: left; vertical-align: middle;}
.ft_in > .service > ul > li.btn {margin-bottom: 0; margin-right: 0;}
.ft_in > .service > ul > li > * {height: 28px; box-sizing: border-box; font-family: "Lato";}
.service li > input {
  color: #aaa;
  padding: 4px 6px;
  max-width: 100%;
  height: 28px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
} 
.service li.address > input {width: 272px;}
.service li.zip > input {width: 100px;}
.service li.btn > a {
  display: inline-block;
  text-transform: uppercase;
  line-height: 28px;
  background-color: #3d3935;
  border: 1px solid #402b2e;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.4px;
  padding: 0 29px;
  margin-bottom: 0;
}
.service li.btn > a:hover {background-color: #63615d;}
.ft_in > .service > p {margin: 5px 0 24px; line-height: 20px; font-size: 14px; font-family: "Lato";}
.ft_in > .service > p > a {font-weight: bold; border-bottom: 1px dotted;}
.ft_in > .service > p > a:hover {opacity: 0.7;}
.f_mid .fm_in {
  min-height: 166px;
  margin-top: 40px;
  background-image: url(../images/wordmark_footer.png);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 98.5% 0;
} 
.f_mid .fm_in ul {font-size: 0;}
.fm_in > ul > li {display: inline-block; vertical-align: top; width: 16.66667%;}
.fm_in > ul .desc * {font-size: 14px;}
.fm_in > ul .desc a {color: #3d3935;}
.fm_in > ul .desc a:hover {color: #8a8885;}
.fm_in > ul .desc h4 {padding: 18px 0; margin: 0 12px; }
.fm_in > ul .desc > .foot_btn {display: none;}
.fm_in > ul .desc h4 > a {font-size: 16.8px; text-transform: uppercase; font-weight: bold; line-height: 21px;}
.fm_in > ul .desc ul {margin: 0 12px 24px;}
.fm_in > ul .desc ul > li {margin-bottom: 20px;}
.fm_in > ul .desc ul > li:last-child {margin-bottom: 0;}
footer .f_btm {padding-bottom: 45px;}
.f_btm .fb_in > .column {font-family: "Lato";}
.f_btm .fb_in > .column .lang {margin: 10px 0 0; color: #333; font-size: 0;}
.f_btm .fb_in > .column .lang > li {display: inline-block; margin: 5px 0; padding: 0 10.5px; font-size: 14px;}
.f_btm .fb_in > .column .lang > li a {color: #382f2d; font-size: 14px;}
.f_btm .fb_in > .column .lang > li:first-child {border-right: 1px solid #b3b3b3; padding-left: 0;}
.f_btm .fb_in > .column .lang > li:first-child > a {font-weight: bold;}
.f_btm .fb_in > .column .lang > li:first-child:after {content: "»"; padding-left: 4px; font-size: 14px; line-height: 7px;}
.f_btm .fb_in > .column .lang > li:first-child > a img {padding-right: 7px;}
.f_btm .fb_in > .column .sub {margin: 35px 0 40px; font-size: 0;}
.f_btm .fb_in > .column .sub > li {display: inline-block; font-size: 14px; padding: 0 7px; border-right: 1px solid #b3b3b3;}
.f_btm .fb_in > .column li a {color: #666; line-height: 15.2667px;}
.f_btm .fb_in > .column li a:hover {color: #8c8c8c;}
.f_btm .fb_in > .column .sub > li:first-child {padding-left: 0;}
.f_btm .fb_in > .column .sub > li:last-child {border-right: none;}
.f_btm .fb_in > .column .copyright {margin: 0 0 25px; color: #666;}

@media screen and (max-width: 1279px) {
  .contents,
  .column {padding: 0 15px;}
  .sec01 > .contents .desc {padding: 30px 0;}
  .sec02 .contents .desc {width: 100%; padding-right: 30px;}
}

@media screen and (max-width: 1119px) {
  .sec01 > .bg_img {height: 532px;}
  .sec01 > .contents {padding-top: 52px; padding-bottom: 60px;}
  .sec01 .contents .desc > h2 {font-size: 36.4px;}
}

@media screen and (max-width: 1023px) {
  .contents,
  .column {padding: 0 12px;}
  .sec02 > .contents {padding-left: 0;}
  .sec01 > .contents .desc {padding: 24px 0; left: 12px;}
  .sec02 .contents .btn {padding: 25px 20px 30px; text-align: center; width: 100%;}
  .sec02 .bg_img {width: 45%; position: relative;}
  .sec02 .bg_img > .img_wrap img {width: 200px;}
  .sec02 .contents .desc {width: 55%; padding-right: 24px;}
}

@media screen and (max-width: 991px) {
  .h_inner nav {margin: 0; margin-left: -8px;}
}

@media screen and (max-width: 959px) {
  .h_inner h1 > a {width: 56px; height: 56px;}
  nav li > .tab {padding: 14px 9.1px;}
  .sec01 > .bg_img {height: 392px;}
  .sec01 > .contents {padding-top: 36px; padding-bottom: 44px;}
  .sec01 .contents .desc > h2 {font-size: 30.8px;}
  .sec01 .contents .desc > p {font-size: 15.4px;}
  .sec03 > div > .contents {padding-top: 20px; padding-bottom: 30px;}
  .sec03 > div .desc > .copy {font-size: 14px;}
}
@media screen and (max-width: 899px) {
  .sec02 .bg_img > .img_wrap {padding: 85px 0 0 10px;}
  .sec02 .bg_img > .img_wrap img {width: 180px;}
  .ft_in > .service > ul > li {max-width: 193px; width: auto;}
}
@media screen and (max-width: 767px) {
  .contents,
  .column {padding: 0 10px;}
  header > .h_inner {padding-top: 12px;}
  header > .h_inner::after {visibility: hidden;}
  .h_inner h1 > a {width: 50px; height: 50px; margin-bottom: 18px;}
  .h_util {position: relative;}
  .h_util li > a {padding: 0;}
  .h_util .store {position: absolute; top: 24px; right: 32px;}
  .h_util .store span {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px;}
  .h_util .store .icon::before {padding-right: 0; border: 12px solid #f7f7f7;}
  .h_util li:last-child {border-left: none;}
  .h_util li:last-child a {border-top: 10px solid transparent; border-bottom: 10px solid transparent;}
  nav > .pc_nav {display: none;}
  nav > .mo_nav {display: block;}
  .mo_nav > .mo_btn {position: absolute; top: 36px; right: 8px; width: 44px; height: 44px;}
  .mo_nav > .mo_btn span {
    background-color: #006341;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0; 
    left: 0;
    border: 12px solid #f7f7f7;
  }
  .mo_nav.mo_open > .mo_btn span {background-color: #1e1e1e; border-color: #1e1e1e;}
  .mo_btn span:hover {background-color: #338267;}
  .mo_btn span:before,
  .mo_btn span:after {
    content: '';
    width: 100%;
    height: 20%;
    background-color: #f7f7f7;
    position: absolute;
    top: 20%;
    left: 0;
    -ms-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
  }
  .mo_btn span:after {top: 60%;}
  .mo_nav.mo_open > .mo_btn span:before {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 40%;
  }
  .mo_nav.mo_open > .mo_btn span:after {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 40%;
  }
  .mo_nav > .mo_menu {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 96%;
    max-height: 0;
    background-color: #1e1e1e;
    -ms-transition: max-height 0.2s ease;
    -moz-transition: max-height 0.2s ease;
    -webkit-transition: max-height 0.2s ease;
    z-index: 980;
  }
  .mo_nav.mo_open > .mo_menu {visibility: visible; max-height: 216px;}
  .mo_menu > ul {padding: 40px 0;}
  .mo_menu > ul > li {float: left; width: 50%;}
  .mo_menu li > a {
    color: #fff;
    line-height: 1;
    display: block;
    text-transform: uppercase;
    padding: 11px 29px;
    font-size: 14px;
    font-family: "Lato";
    letter-spacing: 2.5px;
  }
  .mo_menu li > a:hover {background-color: #272727;}
  .mo_menu li > a:focus {background-color: #2B8815;}
  .sec01 > .bg_img {height: 252px;}
  .sec01 > .contents {padding-top: 0; padding-bottom: 0;}
  .sec01 > .contents .desc {padding: 20px; left: 0; top: 0; -ms-transform: none; -moz-transform: none; -webkit-transform: none;}
  .sec01 .contents .desc > h2 {font-size: 26px; margin-bottom: 6.5px; line-height: 30.3333px;}
  .sec01 .contents .desc > p {font-size: 14px; line-height: 24px;}
  .sec02 .bg_img {width: 53%;}
  .sec02 .bg_img > .img_wrap {padding: 85px 0 0 0; width: 265px;}
  .sec02 .contents .desc {width: 47%; padding: 25px 20px 25px 15px; text-align: center;}
  .sec02 .contents .desc > h2 {font-size: 21px; line-height: 24.5px; margin-bottom: 10.5px;}
  .sec02 .contents .desc > p {font-size: 14px; line-height: 24px;}
  .sec03 > div > .contents > * {width: 100%;}
  .sec03 > div > .contents > .img_wrap {text-align: center; margin-bottom: 30px;}
  .sec03 > div > .contents .desc {margin-left: 0; text-align: center;}
  footer > .f_top {padding: 25px 0;}
  .f_top .ft_in {margin-left: -10px; margin-right: -10px;}
  .f_top .ft_in > .sns {width: 100%; margin-bottom: 0; padding-bottom: 25px; overflow: hidden; border-bottom: 1px solid #b3b3b3;}
  .f_top .ft_in > .service {width: 100%; padding-top: 25px;}
  .ft_in > .service > ul > li.address {max-width: 290px; width: 100%;}
  .service li.address > input {width: 100%; max-width: 100%;}
  .f_mid .fm_in {margin-top: 0; background-image: none; margin-left: -10px; margin-right: -10px;}
  .fm_in > ul > li {display: block; width: 100%; border-bottom: 1px solid #b3b3b3;}
  .fm_in > ul .desc h4 {margin: 0 20px;}
  .fm_in > ul .desc h4 > a {font-size: 15.4px; line-height: 19.25px;}
  .fm_in > ul .desc h4 > .foot_btn {
    display: block;
    padding: 10px 20px;
    margin: -10px -20px 0 0;
    float: right;
    -ms-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
  }
  .fm_in > ul .desc.foot_open h4 > .foot_btn {
    -ms-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
  }
  .fm_in > ul .desc h4 > .foot_btn span:before {
    font-family: "Global Icons";
    content: attr(data-icon);
    display: block;
    cursor: pointer;
    color: #382f2d;
    line-height: 2;
    font-size: 10px;
  }
  .fm_in > ul .desc ul {
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 0;
    max-height: 0;
    overflow: hidden;
    -ms-transition: max-height 100ms ease;
    -moz-transition: max-height 100ms ease;
    -webkit-transition: max-height 100ms ease;
  }
  .fm_in > ul .desc.foot_open ul {max-height: 700px; margin-bottom: 24px;}
  .fm_in > ul >li.links .desc ul {max-height: none; margin-bottom: 24px;}
  footer .f_btm {padding-bottom: 0;}
  .f_btm .fb_in > .column li a {color: #333;}
  .f_btm .fb_in > .column .lang {margin: 10px 0 20px;}
  .f_btm .fb_in > .column .sub {margin: 0; padding-bottom: 30px;}
  .f_btm .fb_in > .column .sub > li {display: block; border-right: none; padding: 0; margin-bottom: 18px; line-height: 15.2667px;}
  .f_btm .fb_in > .column .sub > li:last-child {margin-bottom: 0;}
  .f_btm .fb_in > .column .copyright {margin: 25px 0; font-size: 12px; line-height: 13.0833px; color: #382f2d;}
}
@media screen and (max-width: 589px) {
  .contents,
  .column {padding: 0 10px;}
  .contents .btn a {font-size: 11.2px; margin-bottom: 14px;}
  .sec01 > .contents .desc {background-color: rgba(245,245,243, .7); height: 100%;}
  .sec02 .bg_img {width: 100%; height: auto;}
  .sec02 .bg_img > .img_wrap {padding: 20px 0 20px 30px; margin: 0 auto; min-height: 60px;}
  .sec02 .bg_img > .img_wrap img {width: 165px;}
  .sec02 .contents .desc {width: 100%; padding: 25px 20px;}
  .sec02 .contents .btn {padding: 0 20px 30px}
}
@media screen and (max-width: 539px) {
  main > .sec01 {padding-top: 400px; background-color: rgba(245,245,243,0.7);}
  .sec01 > .bg_img {
    background-image: url(../images/m_sec01.jpg);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 760px;
    max-height: 760px;
  }
  .sec01 > .contents {position: relative;}
  .sec01 > .contents .desc {padding: 0 0 20px; max-width: none; text-align: center; background-color: transparent;}
  .sec01 .contents .desc > p {text-align: center;}
}
@media screen and (max-width: 479px) {
  main > .sec01 {padding-top: 255px;}
  .sec01 > .bg_img {max-height: 675px; background-size: auto 675px;}
  .sec01 .contents {background-color: rgb(245,245,243);}
  .sec01 .contents .desc > h2 {padding-top: 40px;}
  .sec02 .btn span {display: block; width: 100%;}
  .sec02 .btn span a {box-sizing: border-box; width: 100%; max-width: 300px;}
  .sec02 .btn span.btn_left a {margin-right: 0;}
  .ft_in > .service > ul > li {float: none;}
}
@media screen and (max-width: 300px) {
  main > .sec01 {padding-top: 170px;}
  .sec01 > .bg_img {max-height: 450px; background-size: auto 450px;}
}



